*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.header{
    height: 120px;
    padding-top: 30px;
    background: #FFFFFF; ;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    align-items: center;
}

.logo-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.logo-subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;  
    letter-spacing: 0.1em;
    color: #545454;
    margin-top: 10px;
}

.nav-conatiner{
    height: 27px;
    left: 757px;
    top: 16px;
}

.nav-title{
    padding: 0px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
}

.nav-title-line{
    width: 58px;
    height: 3px;
    background: #F1CDB3;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
}

.nav-menu a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.nav-menu a:hover{
    opacity: 1.2;
    transition: 0.3s;
    cursor: pointer;
    color: #dab69d;
}

.nav-item:first-child{
    margin-right: 35px;
}

.nav-item{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    margin-left: 35px;
}

.nav-item:hover{
    opacity: 1.2;
    transition: 0.3s;
    cursor: pointer;
    color: #dab69d;
}

.header-burger{
    width: 30px;
    height: 22px;
    position: relative;
    display: none;
}

.burger-line{
    display: block;
    width: 100%;
    border: 1px solid black;
    left: 0;
    position: absolute;
}

.line-first{
    top: 0;
}

.line-second{
    top: 75%;
}

.line-third{
    bottom: 0;
}

.our-pets{
    height: 1342px;
    background: #F6F6F6;
}

.pets-title-container{
    display: flex;
    justify-content: center;
}

.pets-title{
    max-width: 400px;
    text-align: center;
    padding-top: 80px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 930px;
    max-width: 1200px;
    margin-top: 60px;
}

.card{
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.card:hover{
    background-color: #FFFFFF;
    opacity: 0.7s;
    cursor: pointer;
    transition: 0.6s;
}

.second{
    margin-top: 30px;
}

.pets-name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 30px;
    text-align: center;
}

.pets-btn{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 41.5px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #FAFAFA;
}

.pets-btn:hover{
    background: #FDDCC4;
    border-color:#FDDCC4;
    cursor: pointer;
    transition: 0.6s;
}

.pages-container{
    display: flex;
    margin-top: 45px;
    justify-content: center;
}

.left-double-arrow{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #CDCDCD;
}

.left-arrow circle{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #CDCDCD;
}

.number{
    background: #F1CDB3;
}

.number span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

span{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.gray{
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    margin-right: 20px;
}

.gray span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #CDCDCD;
}

.gray:hover{
    cursor: pointer;
}

.circle{
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-right: 20px;
}

.circle span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

.circle:hover{
    background: #F1CDB3;
    cursor: pointer;
    transition: 0.6s;
}

.circle:last-child{
    margin-right: 0px;
}

.footer{
    height: 350px;
    background: url(images/footer-background.png);
    background-size: cover;
}

.footer-wrapper{
    display: flex;
}

.questions-title{
    max-width: 300px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.visit-title{
    max-width: 270px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer p{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.phone{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.email{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.comm{
    margin-top: 56px;
}

.boston-adress{
    max-width: 260px;
}

.link{
    margin-top: 40px;
    display: flex;
}

.link p{
    margin-left: 20px;
}

.for-visit-container{
    margin-left: 160px;
}

.for-visit-container img{
    max-width: 22px;
    max-height: 32px;
}

.footer-img-container{
    margin-left: 160px;
    margin-top: 48px;
}

@media screen and (max-width: 768px){
    .wrapper{
        max-width: 708px;
        margin: 0 auto;
    }

    .our-pets{
        height: 1733px;
    }

    .our-pets-wrapper{
        height: 1603px;
    }

    .pets-card-container{
        margin-top: 0px;
        justify-content: center;
    }

    .card{
        margin-top: 30px;
        margin-right: 40px;
    }

    .jennifer-container{
        margin-right: 0px;
    }

    .sophia-container{
        margin-right: 0px;
    }

    .charly-container{
        margin-right: 0px;
    }

    .scarlet-container{
        display: none;
    }

    .freddie-container{
        display: none;
    }

    .pages-container{
        margin-top: 520px;
    } 

    .footer{
        height: 639px;
        background: url(images/footer-background\ 768.png)
    }

    .footer-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .for-questions-container{
        margin-top: 30px;
        margin-left: 34px;
        width: 278px;
        height: 234px;
        order: 1;
    }

    .for-visit-container{
        margin-top: 30px;
        margin-left: 60px;
        order: 2;
    }

    .visit-title{
        max-width: 270px;
        max-height: 90px;
    }

    .questions-title{
        width: 280px;
        max-height: 90px;
    }

    .footer-img-container{
        margin: auto;
        margin-top: 51px;
        order: 3;
        width: 300px;
        height: 310px;
    }
     
}

@media screen and (max-width: 766px) and (min-width: 321px){
    body{
        overflow-x:hidden;
    }

    .wrapper{
        max-width: 94.3%;
    }

    .pets-title{
        max-width: 70%;
    }

    .katrine-container{
        margin-right: 0%;
    }

    .woody-container{
        margin-right: 0%;
    }

    .pages-container{
        max-width: 80%;
        margin-top: 0px;
    }

    footer{
        max-height: 38%;
        background: url(images/footer-background\ 768.png);
        background-size: cover;
    }

    .footer-wrapper{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .for-questions-container{
        margin-left: 4%;
        max-width: 50%;
        order: 1;
    }

    .for-visit-container{
        margin-left: 4.2%;
        order: 2;
        max-width: 50%;
        margin-top: 5%;
    }

    .visit-title{
        font-size: 1.7rem;
        max-width: 99%;
        max-height: 20%;
    }

    .questions-title{
        font-size: 1.7rem;
        max-width: 99%;
        max-height: 20%;
    }

    .email-contanier{
        margin-top: 50%;
    }

    .phone-container{
        margin-top: 15%;
    }
   
    .email{
        max-width: 90%;
        font-size: 1rem;
    }

    .phone{
        max-width: 90%;
        font-size: 1rem;
    }

    .visit-title{
        margin-top: 8%;
    }

    .boston-contanier{
        margin-top: 40%;
    }

    .maps{
        font-size: 1rem;
        max-width: 30%;
    }

    .footer-img-container{
        margin: auto;
        margin-top: 4%;
        order: 3;
        width: 30%;
        height: 40%;
    }
}


@media screen and (max-width: 320px){
    body{
        overflow-x: hidden;
    }

    .wrapper{
        max-width: 300px;
        margin: 0 auto;
    }

    .nav-conatiner{
        display: none;
        width: 100%;
        height: 823px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #292929;
        z-index: 10;
    }

    .nav-menu{
        padding-top: 248px;
    }

    .our-pets{
        height: 1649px;
    }

    .pets-title-container{
        width: 300px;
        height: 64px;
    }

    .pets-title{
        padding: 0px;
        margin-top: 42px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .pets-card-container{
        margin-top: 42px;
    }

    .card{
        margin-right: 0px;
    }

    .katrine-container{
        margin-top: 42px;
    }

    .sophia-container{
        display: none;
    }

    .timmy-container{
        display: none;
    }

    .charly-container{
        display: none;
    }

    .pages-container div{
        margin-right: 10px;
    }

    .footer{
        height: 809px;
        background: url(images/footer-gradient-background\ 320.png);
    }

    .comm{
        margin: auto;
    }

    .questions-title{
        height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        margin-top: 30px;
    }

    .visit-title{
        height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        margin: auto;
        margin-top: 40px;
    }

    .footer-img-container{
        width: 260px;
        height: 269px;
        margin-top: 44px;
    }
}

@media screen and (max-width: 1279px) and (min-width: 769px) {
    body{
        overflow-x:hidden;
    }

    .pets-card-container{
        margin-top: 0px;
        justify-content: center;
    }

    .card{
        margin-top: 10%;
        margin-right: 40px;
        max-width: 18%;
        max-height: 38%;
    }

    .second{
        margin-top: 0;
    }

    .pets-btn{
        max-width: 80%;
        max-height: 20%;
        margin-left: 7%;
    }

    .jennifer-container{
        margin-right: 0px;
    }

    .woody-container{
        margin-left: 4%;
    }

    .timmy-container{
        margin-left: 4%;
    }

    .pages-container{
        margin-top: 7%;
    } 

    .footer{
        height: 38%;
        background: url(images/footer-background\ 768.png);
        background-size: cover;
    }

    .footer-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .for-questions-container{
        margin-left: 4%;
        max-width: 40%;
        order: 1;
    }

    .for-visit-container{
        margin-left: 4.2%;
        order: 2;
        max-width: 40%;
    }

    .visit-title{
        max-width: 270px;
        max-height: 90px;
    }

    .questions-title{
        width: 280px;
        max-height: 90px;
    }

    .footer-img-container{
        margin: auto;
        margin-top: 4%;
        order: 3;
        width: 30%;
        height: 40%;
    }
}

@media screen and (max-width: 615px) {
    .sophia-container{
        display: none;
    }

    .charly-container{
        display: none;
    }

    .timmy-container{
        display: none;
    }
}

@media screen and (max-width: 766px) and (min-width: 321px){
    body{
        overflow-x:hidden;
    }

    .wrapper{
        max-width: 94.3%;
    }

    .pets-title{
        max-width: 70%;
    }

    .katrine-container{
        margin-right: 0%;
    }

    .woody-container{
        margin-right: 0%;
    }

    .pages-container{
        max-width: 80%;
        margin-top: 480px;
    }

    footer{
        max-height: 38%;
        background: url(images/footer-background\ 768.png);
        background-size: cover;
    }

    .footer-wrapper{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .for-questions-container{
        margin-left: 4%;
        max-width: 50%;
        order: 1;
    }

    .for-visit-container{
        margin-left: 4.2%;
        order: 2;
        max-width: 50%;
        margin-top: 5%;
    }

    .visit-title{
        font-size: 1.7rem;
        max-width: 99%;
        max-height: 20%;
    }

    .questions-title{
        font-size: 1.7rem;
        max-width: 99%;
        max-height: 20%;
    }

    .email-contanier{
        margin-top: 50%;
    }

    .phone-container{
        margin-top: 15%;
    }
   
    .email{
        max-width: 90%;
        font-size: 1rem;
    }

    .phone{
        max-width: 90%;
        font-size: 1rem;
    }

    .visit-title{
        margin-top: 8%;
    }

    .boston-contanier{
        margin-top: 40%;
    }

    .maps{
        font-size: 1rem;
        max-width: 30%;
    }

    .footer-img-container{
        margin: auto;
        margin-top: 4%;
        order: 3;
        width: 30%;
        height: 40%;
    }
}


@media screen and (max-width: 767px){
    .body_active{
        overflow: hidden;
    }

    .opacity_active{
        position:fixed;
        left:0;
        top:0;
        height:100vh;
        width:100vw;
        background:#000;
        opacity:0.5;
        z-index: 0;
        transition: 0.3s;
    }

    .nav-conatiner{
        display: block;
        width: 320px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding-top: 248px;
        padding-left: 34px;
        transform: translateX(333%);
        transition: 0.3s all linear;
    }

    .nav-conatiner_active{
        transform: translateX(0);
    }

    .nav-menu{
        display: block;
        justify-content: center;
    }

    .header-burger{
        width: 30px;
        height: 22px;
        display: block;
    }

    .header-burger_unactive{
        display: none;
        transition: 0.3s all linear;
    }

    .burger-close{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 45px;
        right: 20px;
    }

    .close-line{
        border: 1px solid #FFFFFF;
        transform: rotate(-360deg);
    }

    .close-line:last-child{
        margin-right: 0px;
    }

    .nav-title{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        width: 250px;
        text-align: center;
        margin: auto;
        margin-right: 45px;
        color: #FFFFFF;
        margin-top: 10px;
    }

    .nav-title-line{
        width: 250px;
    }

    .nav-item{
        margin-left: 0;
        font-size: 32px;
        margin-top: 40px;
        text-align: center;
        margin-right: 34px;
    }

    .nav-menu a{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        color: #bdbcbc;
    }
}