*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    margin-top: 30px;
    height: 60px;
}

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    align-items: center;
}

.logo-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo-subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #cfc5c5;
    margin-top: 10px;
}

.nav-conatiner{
    width: 443px;
    height: 27px;
    left: 757px;
    top: 16px;
}

.nav-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #b1adad;
    flex: none;
    order: 0;
    flex-grow: 0;    
}

.nav-title-line{
    width: 114px;
    height: 3px;
    background: #F1CDB3;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
}

.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 35px;
}