*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding-top: 30px;
    height: 60px;
}

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    align-items: center;
}

.logo-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo-subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;  
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 10px;
}

.nav-conatiner{
    width: 443px;
    height: 27px;
    left: 757px;
    top: 16px;
}

.nav-title{
    padding: 0px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
}

.nav-title-line{
    width: 114px;
    height: 3px;
    background: #F1CDB3;
    
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
}

.nav-item{
    padding: 0px;
    gap: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-left: 35px;
}

.nav-item:hover{
    opacity: 1.2;
    transition: 0.3s;
    cursor: pointer;
    color: #FAFAFA;
}

.bg{
    background:url(images/start-screen.png) ;
    background-size: cover;
}

.not-only{
   height: 818px;
}

.not-only-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.not-only-container{
    margin-bottom: 155px;
    justify-content: space-between;
}


.not-only-title{
    max-width: 310px;
    padding-top: 163px;
    padding-bottom: 42px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}

.not-only-text{
    max-width: 460px;
    padding-bottom: 42px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.not-only-button{
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border-style: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.not-only-button:hover{
    cursor: pointer;
    transition: 0.6s;
    background: #FDDCC4;
}

.not-only-button::before{
    opacity: 1.2;
}

.only-img-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
}

.about{
    height: 588px;
}

.about-wrapper{
    display: flex;
    justify-content: center;
}

.about-img-container{
    margin-top: 80px;
    margin-right: 120px;
}

.about-text-container{
    display: flex;
    flex-direction: column;
    margin-top: 94px;
}

.about-title{
    max-width: 370px;
    margin-bottom: 25px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about-text{
    max-width: 430px;
    padding-bottom: 25px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about-text:last-child{
    padding-bottom: 0px;
}

.pets{
    height: 877px;
    background-color: #F6F6F6;
}

.pets-title-container{
    display: flex;
    justify-content: center;
}

.pets-title{
    max-width: 400px;
    text-align: center;
    padding-top: 80px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 435px;
    margin-top: 60px;
}

.circle{
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 192px;
}

.circle:hover{
    cursor: pointer;
    transition: 0.6s;
    background: #FDDCC4;
    border-color: #FDDCC4;
}

.arrow{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.left-arrow{
    margin-right: 53px;
}

.right-arrow{
    margin-left: 53px;
}

.card{
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
    margin-right: 90px;
}

.woody-container{
    margin-right: 0;
}

.pets-name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 30px;
    text-align: center;
}

.pets-btn{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 41.5px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #FAFAFA;
}

.pets-btn:hover{
    background: #FDDCC4;
    border-color:#FDDCC4;
    cursor: pointer;
    transition: 0.6s;
}

.know-btn-container{
    display: flex;
    justify-content: center;
}

.to-know-btn{
    width: 261px;
    height: 52px;
    margin-top: 60px;
    background: #F1CDB3;
    border-radius: 100px;
    border-style: none;
    border-color:#F1CDB3 ;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.to-know-btn:hover{
    cursor: pointer;
    transition: 0.6s;
    background: #FDDCC4;
}

.help{
    height: 611px;
    background: #FFFFFF;
}

.help-title-container{
    display: flex;
    justify-content: center;
}

.help-title{
    margin-top: 80px;
    max-width: 308px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.help-img-container{
    height: 281px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    margin-top: 60px;
    margin-left: 50px;
}

.picture{
    margin-right: 120px;
}

.help-img-container p{
    margin-top: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.help-img-container img{
   margin: 0 auto;
}

.donation{
    height: 462px;
    background-color: #F6F6F6;
}

.donation-wrapper{
    display: flex;
    width: 915px;
}

.donation-img{
    margin-top: 91px;
}

.donation-text-container{
    margin-top: 80px;
    margin-left: 30px;
}

.donation-title{
    max-width: 300px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-subtitle{
    margin-top: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.credit-card{
    display: flex;
    margin-top: 20px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
}

.credit-card p{
    margin-left: 15px;
    margin-top: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.remark{
    max-width: 380px;
    margin-top: 20px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    color: #B2B2B2;
}