*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding-top: 30px;
    height: 60px;
    /* position: fixed; */
    width: 100%;
}

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    align-items: center;
}

.logo-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo-subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;  
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 10px;
}

.nav-conatiner{
    width: 443px;
    height: 27px;
    left: 757px;
    top: 16px;
}

.nav-title{
    padding: 0px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
}

.nav-title-line{
    width: 114px;
    height: 3px;
    background: #F1CDB3;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
}

.nav-item{
    padding: 0px;
    gap: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
    margin-left: 35px;
}

.nav-item:hover{
    opacity: 1.2;
    transition: 0.3s;
    cursor: pointer;
    color: #F1CDB3;
}

.bg{
    background:url(images/start-screen.png) ;
    background-size: cover;
}

.not-only{
   height: 818px;
}

.not-only-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.not-only-container{
    margin-bottom: 155px;
    justify-content: space-between;
}


.not-only-title{
    max-width: 310px;
    padding-top: 163px;
    padding-bottom: 42px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}

.not-only-text{
    max-width: 460px;
    padding-bottom: 42px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.not-only-button{
    width: 207px;
    height: 52px;
    left: calc(50% - 207px/2 - 126.5px);
    bottom: 0px;
    background: #F1CDB3;
    border-radius: 100px;
    border-style: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.not-only-button:hover{
    cursor: pointer;
    transition: 0.6s;
    background: #FDDCC4;
}

.not-only-button::before{
    opacity: 1.2;
}

.only-img-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
}

